<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Save, share, and remember places | Leadr - a simple location manager.{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple way to remember where you're headed, with maps, search, and history.">
    <meta name="author" content="Max Kramer">

    <!-- Le styles -->
    <link href="../media/css/bootstrap.css" rel="stylesheet">
    <link href="../media/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../media/css/docs.css" rel="stylesheet">
    <link href="../media/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Google Analytics -->
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30519356-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>

{% block main %} {% endblock %}

       <!--Contact Modal
      <div id="contactModal" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal" >&times;</a>
          <h3>Email us. We'd love to hear from you.</h3>
        </div>
        <div class="modal-body">
          <h5>Name:</h5>
          <input type="text" class="span5" placeholder=""><br /><br />

          <h5>Email address:</h5>
          <input type="text" class="span5" placeholder=""><br /><br />

          <h5>Message:</h5>
          <textarea class="span5" rows="5"></textarea>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn pull-left" data-dismiss="modal" >Cancel</a>
          <a href="#" class="btn btn-primary">Submit</a>
        </div>
      </div> -->

      <!-- Footer -->
      <footer class="footer">
        {% block footer %}{% endblock %}
        <p>&copy;2012 | max@leadr.cc</p>
<!--         <p><a href="#about">About</a> | <a data-toggle="modal" href="#contactModal">Contact</a> | <a href="#terms">Terms of Service</a> | &copy; 2012</p>
 -->      </footer>

    </div> <!-- /container -->

    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="../media/js/jquery.js"></script>
    <script type="text/javascript" src="../media/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-button.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="../media/js/application.js"></script>
    <script type="text/javascript">
      var _cio = _cio || [];
      (function() {
        var a,b,c;a=function(f){return function(){_cio.push([f].
        concat(Array.prototype.slice.call(arguments,0)))}};b=["identify",
        "sidentify","track"];for(c=0;c<b.length;c++){_cio[b[c]]=a(b[c])};
        var t = document.createElement('script'),
            s = document.getElementsByTagName('script')[0];
        t.async = true;
        t.id    = 'cio-tracker';
        t.setAttribute('data-site-id', 'e2e2ffc066454961abe1');
        t.src = 'https://assets.customer.io/assets/track.js';
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    <script type="text/javascript">
      _cio.identify({
        // Required attributes
        email: '{{ user.email }}',
        created_at: {{ user.date_joined|date:"U" }},
        first_name: '{{ user.first_name }}'
      });
    </script>




  </body>
</html>
