<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Save, share, and remember places | Leadr - a simple location manager.{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple way to remember where you're headed, with maps, search, and history.">
    <meta name="author" content="Max Kramer">

    <!-- Le styles -->
    <link href="../media/css/bootstrap.css" rel="stylesheet">
    <link href="../media/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../media/css/docs.css" rel="stylesheet">
    <link href="../media/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Google Analytics -->
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30519356-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>

{% block main %} {% endblock %}

       <!--Contact Modal
      <div id="contactModal" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal" >&times;</a>
          <h3>Email us. We'd love to hear from you.</h3>
        </div>
        <div class="modal-body">
          <h5>Name:</h5>
          <input type="text" class="span5" placeholder=""><br /><br />

          <h5>Email address:</h5>
          <input type="text" class="span5" placeholder=""><br /><br />

          <h5>Message:</h5>
          <textarea class="span5" rows="5"></textarea>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn pull-left" data-dismiss="modal" >Cancel</a>
          <a href="#" class="btn btn-primary">Submit</a>
        </div>
      </div> -->

      <!-- Footer -->
      <footer class="footer">
        {% block footer %}{% endblock %}
        <p>&copy;2012 | max@leadr.cc</p>
<!--         <p><a href="#about">About</a> | <a data-toggle="modal" href="#contactModal">Contact</a> | <a href="#terms">Terms of Service</a> | &copy; 2012</p>
 -->      </footer>

    </div> <!-- /container -->

    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="../media/js/jquery.js"></script>
    <script type="text/javascript" src="../media/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-button.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="../media/js/application.js"></script>
    <script id="IntercomSettingsScriptTag">
      window.intercomSettings = {
        // TODO: The current logged in user's email address.
        email: "{{ user.email }}",
        // TODO: The current logged in user's sign-up date as a Unix timestamp.
        created_at: {{ user.date_joined|date:"U" }},
        app_id: "08209c2037ef79503baf38cd95316d46933fedec"
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://api.intercom.io/api/js/library.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>


  </body>
</html>
