<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Leadr - Always know where you're headed.{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple way to remember where you're headed, with maps, search, and history.">
    <meta name="author" content="Max Kramer">

    <!-- Le styles -->
    <link href="../media/css/bootstrap.css" rel="stylesheet">
    <link href="../media/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../media/css/docs.css" rel="stylesheet">
    <link href="../media/js/google-code-prettify/prettify.css" rel="stylesheet">


{% block main %} {% endblock %}

      <!--Contact Modal-->
      <div id="contactModal" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal" >&times;</a>
          <h3>Email us. We'd love to hear from you.</h3>
        </div>
        <div class="modal-body">
          <h5>Name:</h5>
          <input type="text" class="span5" placeholder=""><br /><br />

          <h5>Email address:</h5>
          <input type="text" class="span5" placeholder=""><br /><br />

          <h5>Message:</h5>
          <textarea class="span5" rows="5"></textarea>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn pull-left" data-dismiss="modal" >Cancel</a>
          <a href="#" class="btn btn-primary">Submit</a>
        </div>
      </div>

      <!-- Footer -->
      <footer class="footer">
        {% block footer %}{% endblock %}
        <p>&copy;2012 | m@leadr.cc</p>
<!--         <p><a href="#about">About</a> | <a data-toggle="modal" href="#contactModal">Contact</a> | <a href="#terms">Terms of Service</a> | &copy; 2012</p>
 -->      </footer>

    </div> <!-- /container -->

    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="../media/js/jquery.js"></script>
    <script type="text/javascript" src="../media/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-alert.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-scrollspy.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-button.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-carousel.js"></script>
    <script type="text/javascript" src="../media/js/bootstrap-typeahead.js"></script>
    <script type="text/javascript" src="../media/js/application.js"></script>


  </body>
</html>
