{% extends "base-site.html" %}

{% block main %}


  </head>



  <body>


    <!--Modals-->
    <!--New Location Modal-->
    <div id="locationModal" class="modal-add hide fade">
      <form action='/new' method='POST'>{% csrf_token %}
        <div class="modal-header">
          <a class="close" data-dismiss="modal" >&times;</a>
          <h3>Add a New Location</h3>
        </div>
        <div class="modal-body">
          <table><br />

            <tr><td><h5>Enter a title:</h5></td></tr>
            <tr><td>{{ entry_form.title }}<br /></td></tr>

            <tr><td><h5>Enter an address (required):</h5></td></tr>
            <tr><td>{{ entry_form.raw_address }}<br /></td></tr>

            <tr><td><h5>Enter tags (i.e. 'bacon, bourbon, bacon bourbon'):</h5></td></tr>
            <tr><td>{{ entry_form.tags }}<br /></td></tr>

          </table>
        </div>
        <div class="modal-footer">
          <a class="btn pull-left" data-dismiss="modal" >Cancel</a>
          <input type="submit" value="Add New Location" class="btn btn-primary pull-right">
        </div>
      </form>
    </div>

    <!--Edit Location Modal-->
    {% for entry in entry_list %}
    <div id="editModal" class="modal-add hide fade">
      <form action='/edit/{{ entry.id }}' method='POST'>{% csrf_token %}
        <div class="modal-header">
          <a class="close" data-dismiss="modal" >&times;</a>
          <h3>Edit "{{ entry.title }}"</h3>
        </div>
        <div class="modal-body">
          <table><br />
            <tr><td><h5>Title:</h5></td></tr>
            <tr><td>{{ edit_form.title }}<br /><br /></td></tr>

            <tr><td><h5>Address:</h5></td></tr>
            <tr><td>{{ edit_form.raw_address }}<br /><br /></td></tr>

            <tr><td><h5>Tags (i.e. 'bacon, bourbon, bacon bourbon'):</h5></td></tr>
            <tr><td>{{ edit_form.tags }}<br /><br /></td></tr>
          </table>
        </div>
        <div class="modal-footer">
          <a class="btn pull-left" data-dismiss="modal" >Cancel</a>
          <input type="submit" value="Submit Changes" class="btn btn-primary pull-right">
        </div>
      </form>
    </div>
    {% endfor %}

    <!--Account Modal-->
<!--     <div id="accountModal" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3>Your Account</h3>
      </div>
      <div class="modal-body">
        <h4>Change your e-mail address:</h4>
        <input type="text" class="span5" placeholder="{{ user.email }}"><br /><br />

        <h4>Change your password:</h4>
        <input type="text" class="span3" placeholder="New password">
        <input type="text" class="span3" placeholder="Confirm new password"><br /><br />

        <h4>Enter your current password to confirm any changes:</h4>
        <input type="text" class="span3" placeholder="Current password"><br /><br />

        <label class="checkbox">
          <input type="checkbox"> Keep sending me brief, infrequent updates and tips.
        </label></br>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn pull-left" data-dismiss="modal" >Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div> -->



    <!--Nav Bar-->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/browser/"><strong><font face="Georgia">Lead</font><font face="Georgia" color="#FF3333">r</font></strong></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a data-toggle="modal" href="#locationModal">Add Location</a></li>
              <li><a href='javascript:(function(){var%20script=document.createElement("scr"+"ipt");var%20t;try%20{t=((window.getSelection%20&&%20window.getSelection())||(document.getSelection%20&&%20document.getSelection())||(document.selection%20&&%20document.selection.createRange%20&&%20document.selection.createRange().text));}catch(e){t%20=%20"";};script.src="http://www.leadr.cc/bookmarklet/"+(Math.random())+"/"+t;document.body.appendChild(script);})()'>+Leadr</a></li>
            </ul>
<!--             <form class="navbar-search" method="get" action=".">
              <input type="text" class="search-query" placeholder="Search by title, tag, or address"/>
            </form> -->
            <!--Account and Log Out links-->
            <ul class="nav pull-right">
              <li>
                <p class="navbar-text">Welcome, {{ browser_user.first_name }}</p>
              </li>
<!--               <li>
                <a data-toggle="modal" href="#accountModal">Account</a>
              </li> -->
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    

    <div class="container">

<!--       <div class="row">
        <div class="span12">
          <div class="mini-layout-description">
            <h3>Welcome to Leadr! Click "Add Location" above to start saving your own places, and we'll ditch ours as soon as you have three. </h3>
            <h4>Coming soon: Mobile apps // Easily add to Leadr through Gmail or our handy bookmarklet</h4>
          </div>
        </div>
      </div> -->

      <div class="row">
        {% if entry_list|length < 5 %}
        <div class="span4_card offset1_card">
          <div class="mini-layout-card">
            <h3>Welcome to Leadr!</h3><br />
            <h3>Click "Add Location" above to start saving your own places, and we'll ditch ours as soon as you have five. </h3><br />
            <h3>All New!</h3>
            <h3>Drag <a href='javascript:(function(){var%20script=document.createElement("scr"+"ipt");var%20t;try%20{t=((window.getSelection%20&&%20window.getSelection())||(document.getSelection%20&&%20document.getSelection())||(document.selection%20&&%20document.selection.createRange%20&&%20document.selection.createRange().text));}catch(e){t%20=%20"";};script.src="http://www.leadr.cc/bookmarklet/"+(Math.random())+"/"+t;document.body.appendChild(script);})()'>+Leadr</a> to your bookmarks bar to save a highlighted address on any page!</h3>
          </div>
        </div>
        {% endif %}


        <!--Entries-->
        {% for entry in entry_list %}
        <div class="span4_card offset1_card">
          <div class="mini-layout-card">
            <div class="mini-layout-header">
              <h5>
                Added: {{ entry.created|date:"m/d/Y" }}
                <form action="/location/{{ entry.encoded_id }}" method="get">
                  <input type="submit" class="btn btn-share" value="Share"></input>
                </form>
<!--                 <form action="/edit/{{ entry.id }}" method="get">
                  <input type="submit" class="btn btn-edit" data-toggle="modal" href="#editModal" value="Edit"></input>
                </form> -->
<!--                 <button data-toggle="modal" href="#editModal" class="btn btn-edit">Edit</button>
 -->                <form action="/delete/{{ entry.id }}" method="post">{% csrf_token %}
                  <input type="submit" class="btn btn-delete" value="Delete"></input>
                </form>
              </h5>      
            </div>   
            <h3>{{ entry.title }}</h3>
            <div class="mini-layout-body">
              <a href="http://maps.google.com/maps?t=h&q={{ entry.split_address }}&z=16&t=m"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ entry.split_address }}&zoom=15&size=281x210&scale=2&markers=color:red|{{ entry.split_address }}&sensor=false"></img></a>
            </div>
            <h4>{{ entry.raw_address }}</h4>
            Tags: {{ entry.tag_lst }}
          </div>
        </div>
        {% endfor %}

        <!--If user has less than three entries, show examples-->
        {% if entry_list|length < 5 %}
          {% for example in example_list %}
          <div class="span4_card offset1_card">
            <div class="mini-layout-card">
              <div class="mini-layout-header">
                <h5>
                  <form action="/add_example/{{ example.id }}" method="post">{% csrf_token %}
                    Example - click "ADD" to save
                    <input type="submit" class="btn btn-add" value="Add"></input>
                  </form>
                </h5>
              </div>
              <h3>{{ example.title }}</h3>
              <div class="mini-layout-body">
                <a href="http://maps.google.com/maps?t=h&q={{ example.split_address }}&z=16&t=m"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ example.split_address }}&zoom=15&size=281x210&scale=2&markers=color:red|{{ example.split_address }}&sensor=false"></img></a>
              </div>
              <h4>{{ example.raw_address }}</h4>
              Tags: {{ example.tag_lst }}
            </div>
          </div>
          {% endfor %}
        {% endif %}

      </div>

    </div>


{% endblock %}

{% block footer %}<p>Know where you're headed. Remember where you've been.</p>{% endblock %}

