{% extends "base-site.html" %}

{% block main %}

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30519356-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>


  </head>



  <body>


    <!--Modals-->
    <!--New Location Modal-->
    <div id="locationModal" class="modal-add hide fade">
      <form action='/new' method='POST'>{% csrf_token %}
        <div class="modal-header">
          <a class="close" data-dismiss="modal" >&times;</a>
          <h3>Add a New Location</h3>
        </div>
        <div class="modal-body">
          <table><br />
            <tr><td><h5>Enter a title:</h5></td></tr>
            <tr><td>{{ entry_form.title }}<br /><br /></td></tr>

            <tr><td><h5>Enter an address:</h5></td></tr>
            <tr><td>{{ entry_form.raw_address }}<br /><br /></td></tr>

            <tr><td><h5>Enter tags (i.e. 'bacon, bourbon, bacon bourbon'):</h5></td></tr>
            <tr><td>{{ entry_form.tags }}<br /><br /></td></tr>
          </table>
        </div>
        <div class="modal-footer">
          <a class="btn pull-left" data-dismiss="modal" >Cancel</a>
          <input type="submit" value="Add New Location" class="btn btn-primary pull-right">
        </div>
      </form>
    </div>

    <!--Account Modal-->
    <div id="accountModal" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3>Your Account</h3>
      </div>
      <div class="modal-body">
        <h4>Change your e-mail address:</h4>
        <input type="text" class="span5" placeholder="{{ user.email }}"><br /><br />

        <h4>Change your password:</h4>
        <input type="text" class="span3" placeholder="New password">
        <input type="text" class="span3" placeholder="Confirm new password"><br /><br />

        <h4>Enter your current password to confirm any changes:</h4>
        <input type="text" class="span3" placeholder="Current password"><br /><br />

        <label class="checkbox">
          <input type="checkbox"> Keep sending me brief, infrequent updates and tips.
        </label></br>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn pull-left" data-dismiss="modal" >Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div>



    <!--Nav Bar-->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://www.leadr.cc"><strong><font face="Georgia">Lead</font><font face="Georgia" color="#FF3333">r</font></strong></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a data-toggle="modal" href="#locationModal">Add Location</a></li>
            </ul>
<!--             <form class="navbar-search" method="get" action=".">
              <input type="text" class="search-query" placeholder="Search by title, tag, or address"/>
            </form> -->
            <!--Account and Log Out links-->
            <ul class="nav pull-right">
              <li>
                <p class="navbar-text">Welcome, {{ browser_user.first_name }}</p>
              </li>
<!--               <li>
                <a data-toggle="modal" href="#accountModal">Account</a>
              </li> -->
              <li><a href="http://www.leadr.cc/logout">Log Out</a></li>
              <!-- <li><a href="http://127.0.0.1:8000/logout">Log Out</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    {% if entry_list|length < 3 %}

      <div class="container">

        <div class="row">
          <div class="span12">
            <div class="mini-layout-description">
              <h2>Welcome to Leadr! Click "Add Location" above to start saving your own places.</h2>
              <h4>COMING SOON! Mobile apps, securely share places with friends, and easily add to Leadr through Gmail or our handy bookmarklet.</h4>
<!--               <h5>(Don't worry, we'll ditch our examples as soon as you have three!)</h5> -->
            </div>
          </div>
        </div>

        <div class="row">
          {% for entry in entry_list %}
          <div class="span4_card">
            <div class="mini-layout-card">
            <h3>{{ entry.title }}</h3>
            <h6>Added: {{ entry.created|date:"m/d/Y" }}</h6>
              <div class="mini-layout-body">
                <a href="http://maps.google.com/maps?t=h&q={{ entry.split_address }}&z=16&t=m"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ entry.split_address }}&zoom=15&size=338x200&scale=2&markers=color:red|{{ entry.split_address }}&sensor=false"></img></a>
              </div>
              <p><h4>{{ entry.raw_address }}</h4>
              Tags: {{ entry.tag_lst }}</p>
            </div>
          </div>
          {% endfor %}
          {% for example in example_list %}
          <div class="span4_card">
            <div class="mini-layout-card">
            <h3>{{ example.title }}</h3>
            <h6>Added: {{ date|date:"m/d/Y" }}</h6>
              <div class="mini-layout-body">
                <a href="http://maps.google.com/maps?t=h&q={{ example.split_address }}&z=16&t=m"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ example.split_address }}&zoom=15&size=338x200&scale=2&markers=color:red|{{ example.split_address }}&sensor=false"></img></a>
              </div>
              <p><h4>{{ example.raw_address }}</h4>
              Tags: {{ example.tag_lst }}</p>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>


    {% else %}

      <div class="container">

        <div class="row">
          <div class="span12">
            <div class="mini-layout-description">
              <h2>Welcome to Leadr! Click "Add Location" above to start saving your own places.</h2>
              <h4>COMING SOON! Mobile apps, securely share places with friends, and easily add to Leadr through Gmail or our handy bookmarklet.</h4>
<!--               <h5>(Don't worry, we'll ditch our examples as soon as you have three!)</h5> -->
            </div>
          </div>
        </div>

        <div class="row">
          {% for entry in entry_list %}
          <div class="span4_card">
            <div class="mini-layout-card">
            <h3>{{ entry.title }}</h3>
            <h6>Added: {{ entry.created|date:"m/d/Y" }}</h6>
              <div class="mini-layout-body">
                <a href="http://maps.google.com/maps?t=h&q={{ entry.split_address }}&z=16&t=m"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ entry.split_address }}&zoom=15&size=338x200&scale=2&markers=color:red|{{ entry.split_address }}&sensor=false"></img></a>
              </div>
              <p><h4>{{ entry.raw_address }}</h4>
              Tags: {{ entry.tag_lst }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    {% endif %}

{% endblock %}

{% block footer %}<p>Know where you're headed. Remember where you've been.</p>{% endblock %}

