{% extends "base-site.html" %}

{% block main %}

  </head>

  <body>


    <!--Login/Register Modal-->
    <div id="accountModal" class="modal-register hide fade">
      <form action='/login_add/{{ entry.id }}' method='POST'>{% csrf_token %}
        
        <!-- Login -->
        <div class="modal-header">
          <a class="close" data-dismiss="modal" >&times;</a>
          <h3><strong><font face="Georgia">Already have an account?</font></strong></h3>
        </div>
        <div class="modal-body">
          <h4><font face="Georgia">Sign in here.</font></h4>
            <table>
              <tr><td>{{ login_form.username }}</td></tr>
              <tr>
                <td>{{ login_form.password }}</td>
                <td><input type="submit" value="Log In" class="btn btn-primary-pwd"></td>
              </tr>
            </table><br />
  <!--             <h6>Forgot password?</h6> -->
        </div>
      </form>

      <form action='/register_add/{{ entry.id }}' method='POST'>{% csrf_token %}
        <!-- Register -->
        <div class="modal-header-space"></div>
        <div class="modal-header">
          <h3><strong><font face="Georgia">New to Lead</font><font face="Georgia" color="#FF3333">r</font>?</strong></h3>
        </div>
        <div class="modal-body">
          <h4><font face="Georgia">Sign up to easily save and share locations.</font></h4>
          <table>
            <tr><td>{{ registration_form.first_name }}</td></tr>

            <tr><td>{{ registration_form.email }}</td></tr>

            <tr><td>{{ registration_form.password }}</td></tr>
          </table>
        </div>
        <div class="modal-footer">
          <a class="btn pull-left" data-dismiss="modal" >Cancel</a>
          <input type="submit" value="Register" class="btn-register btn-primary pull-right">
        </div>
      </form>
    </div>


    <!--Nav Bar-->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://www.leadr.cc/"><strong><font face="Georgia">Lead</font><font face="Georgia" color="#FF3333">r</font></strong></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><p class="navbar-text">Save locations, share with your friends, go mobile.</p></li>
            </ul>
<!--             <ul class="nav pull-right">
              <li>
                <button class="btn btn-small" href="#linkCopy">Copy Link</button>
              </li>
            </ul> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div class="container">

      <div class="row"><br /><br />
        <div class="span4_single">
          <div class="mini-layout-share">
            <span class="input-zlarge uneditable-input">http://www.leadr.cc/location/{{ entry.url }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span4_single">
          <div class="mini-layout-card">
            <div class="mini-layout-header">
              <h5>Copy the link above to share this location!</h5>
            </div>
            <h3>{{ entry.title }}</h3>
            <div class="mini-layout-body">
              <a href="http://maps.google.com/maps?t=h&q={{ entry.split_address }}&z=16&t=m"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ entry.split_address }}&zoom=15&size=281x210&scale=2&markers=color:red|{{ entry.split_address }}&sensor=false"></img></a>
            </div>
            <h4>{{ entry.raw_address }}</h4>
            Tags: {{ entry.tag_lst }}
          </div>
        </div>
      </div>


      {% if user.is_authenticated %}
        {% if browser_user = entry.user %}
          <div class="row">
            <div class="span4_add">
              <form action="/browser" method="get">
                <input type="submit" class="btn btn-zlarge btn-inverse" value="<< Back to Leadr"></input>
              </form>
            </div>
          </div><br /><br />
        {% else %}
          <div class="row">
            <div class="span4_add">
              <form action="/add_single/{{ entry.id }}" method="post">{% csrf_token %}
                <input type="submit" class="btn btn-zlarge btn-inverse" value="+Add to Leadr"></input>
              </form>
            </div>
          </div><br /><br />
        {% endif %}

      {% else %}
        <div class="row">
          <div class="span4_add">
            <p>
              <button class="btn btn-zlarge btn-inverse" data-toggle="modal" href="#accountModal"><strong><font face="Georgia">+Add to Lead<font color="#FF3333">r</font></font></strong></button>
            </p>
          </div>
        </div><br /><br />
      {% endif %}

{% endblock %}

{% block footer %}{% endblock %}

